type hal_lge_vssims_default, domain;
hal_server_domain(hal_lge_vssims_default, hal_lge_vssims)

type hal_lge_vssims_default_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_lge_vssims_default)

add_hwservice(hal_lge_vssims_server, hal_lge_vssims_hwservice)
allow hal_lge_vssims_client hal_lge_vssims_hwservice:hwservice_manager find;
